*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    border: none;
    text-decoration: none;
    list-style-type: none;
   
}

:root{
    --text-color: #fff;
    --blue-color: #00aaff;
    --hover-color: hsl(200, 100%, 65%);
}

html{
    font-size: 62.5%;
}

body{
    background-image: url(../Assets/black-wallpaper-image.jpg);
    background-size: cover;
    color: white;

}


/* #region   ------------------------------------------             HEADER         ---------------------------------------------------             */

.nav-bar{
    display: flex;
    gap: 6rem;
}

.portfolio-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    color: var(--text-color);
    background: none;
    font-size: 2.4rem;
    width: 100%;
    padding: 50px;
}

header img{
    width: 100px;
    border-radius: 50%;
    animation: to_bottom 1s ease forwards;
}

.closing-wrapper,
.header-anchor{
    font-size: 2.5rem;
    border: none;
    background: none;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    animation: to_bottom 1s ease forwards;
}

.closing-wrapper:hover,
.header-anchor:hover,
.active{
    color: var(--blue-color)

}

.closing-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px 0px 25px;
}


/* #endregion */

.second-title{
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    border-bottom: .1px solid white;
}


.projects-list{
    display: flex;
    flex-direction: column;
   
}

.project-redirection{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    gap: 20px;
    padding: 20px 20px 20px 20px;
    color: var(--text-color);
  
}

.project-redirection.is-clickable:hover .project-title{
    color: hsl(319, 77%, 58%);
}


.project-redirection.is-clickable:hover{
    background: hsla(0, 1%, 45%, 0.18);
    transition: .2s;
}

.project-redirection.is-clickable:hover .projects-preview{
    transform: scale(1.025);
}

.project-redirection.is-clickable:hover .project-title{
    color: hsl(319, 77%, 58%);
}

.project-title{
    margin-bottom: 10px;
    font-size: 3rem;
    transition: .7s
}

.tools{
    margin-bottom: 30px;
}

.tools,
.tools-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-description{
    font-size: 2rem;
    margin-bottom: 10px;
}

.tool{
    display: flex;
    gap: 5px;
    font-size: 2rem;
}

.tool i{
    width: 20px;
}

.preview-wrapper{
    display: flex;
    justify-content: center;    
    width: 50%;

}

.projects-preview{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    transition: transform .2s ease;
}

.project-wrapper{
    width: 50%;
}

.click-more{
    color: white;
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 10px;
    
}

.hamburguer-button{
    display: none;
    align-items: center;
    justify-content: center;
    background: none;
    color: white;
    border-radius: 50%;
}

.hamburguer-button i{
    font-size: 2.5rem;
    width: fit-content;
}


.bottom-icons{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    gap: 10px;
    bottom: 0;
    left: 0;
    width: 100%;

}

.bottom-icons i{
    color: white;
    transition: .2s;
}

.bottom-icons i:hover{
    color: var(--blue-color);
}



.closing-button{
    display: none;
    background: none;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}

.closing-button i{
    font-size: 2.5rem;
    color: white;
}

.closing-button:hover{
    background-color: rgba(54, 54, 54, 0.715);

}

.github-header{
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.715);
    z-index: 5; 
}

:focus-visible{
    outline: 1px solid gray;
}










/* #endregion */
.pink{
    color: hsl(319, 77%, 58%);
}

.yellow{
    color: hsl(61, 100%, 50%);
}

.orange{
    color: hsl(37, 95%, 45%);
}

.red{
    color: hsl(0, 100%, 50%);
}

.green{
    color: hsl(140, 100%, 50%);
}

.blue{
    color: hsl(192, 100%, 50%);
}

.project-redirection.is-clickable{
  cursor: pointer;
}

.project-redirection:not(.is-clickable){
  cursor: default;
}



/* #region   ------------------------------------------             ANIMATIONS         ---------------------------------------------------             */


@keyframes to_bottom{
    0%{
        opacity: 0;
        transform: translateY(-8rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes to_left{
    0%{
        opacity: 0;
        transform: translateX(8rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes to_right{
    0%{
        opacity: 0;
        transform: translateX(-4rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scale_img{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


/* #endregion */

/* #region   ------------------------------------------             MEDIA QUERIES         ---------------------------------------------------             */

@media (max-width: 615px){

    .portfolio-header{
     
        padding: 20px;
    }

}

@media (max-width: 560px){

    .nav-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        gap: 0px;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        transition: transform .5s ease;
        transform: translateX(100%);
        z-index: 10;
        background-color: rgba(6, 6, 6, 0.931);
    }

    .bottom-icons{
        display: flex;
    }

    .header-anchor{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px;
        margin: 0px;
    }

    .hamburguer-button{
        display: flex;
    }

    .closing-button{
        display: flex;
    }

    .github-header{
        display: flex;
    }

    .project-title{
        font-size: 2.66rem;
    }

}

@media (max-width: 400px){

    .nav-bar{
        width: 100vw;
    }

}

.nav-bar.open{
    transform: translateX(0%);
}

.overflow-hidden{
    overflow-y: hidden;
}

.hidden {
    display: none;
    
}


/* #endregion */

