html {
  scroll-behavior: smooth;
}

.vanilla-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    color: var(--text-color);
    background: none;
    font-size: 2.4rem;
    width: 100%;
    padding: 10px 50px 10px 10px;

}

.vanilla-project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    box-shadow: .1rem .1rem 3rem .1rem rgb(0, 0, 115);
    background: rgba(7, 6, 6, 0.238);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;   
    animation: to_left  ease forwards 1s;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.vanilla-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 3rem;
    gap: 10px;
}

.vanilla-title i{
    font-size: 3.5rem;

}

.vanilla-video-wrapper{
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
   
}

video{
    width: 100%;
    border-radius: 20px;
}

.vanilla-repo-redirect{
    color: white;
    transition: .2s;
}

.vanilla-repo-redirect:hover{
    color: hsl(29, 100%, 50%);

}

.vanilla-video-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.7));
  pointer-events: none;
  border-radius: 20px;
}

.github-redirect{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.github-redirect i{
    color: rgb(228, 225, 255);
}

.sections-navigation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sections-navigation i{
    font-size: 1.4rem;
}

.sections-navigation li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sections-navigation li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px 5px 0px;
    border-radius: 5px;
    transition: all 0.2s;
}

.sections-navigation li a:hover,
.sections-navigation li a:focus {
    color: var(--blue-color);
}

.vanilla-project-tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    width: 90%;
    margin-top: 10px;
}

.vanilla-tools-used{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 10px 10px 0px;
}

.tools-used{
    display: flex;
    gap: 5px;
    align-items: center;
}

.vanilla-project-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    font-size: 2rem;
}

.vanilla-h1-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.vanilla-h1-wrapper i{
    font-size: 3rem;
}

.vanilla-project-description h1{
    font-size: 3rem;
}

.vanilla-ul-wrapper{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.overview,
.hightlights{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.vanilla-li-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.vanilla-li-icon i{
    width: 20px;
    color: rgb(212, 211, 211);
}

.dark-blue{
    color: hsl(216, 79%, 58%);;
}

.project-toc {
  text-decoration: none;
}

.project-toc a {
  color: inherit;
  text-decoration: none;
}

.project-toc a:visited {
  color: inherit;
}

.project-toc a:focus {
  outline: none;
  text-decoration: underline;
  color: var(--blue-color);
}

.vanilla-text{
    scroll-margin-top: 80px;
    font-weight: bold;
}

.vanilla-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(103, 91, 91, 0.221);
    border-radius: 20px;
    padding: 15px;
}

.phone-displayed{
    display: none;
}

.phone-hidden{
    display: block;
}

.current-project{
    display: flex;
    align-items: center;
    gap: 10px;
}

body.vanilla-project .nav-bar.open {
    transform: translateX(0);
}

@media (max-width: 1000px){
    .vanilla-project-container{
        width: 99%;
    }
}


@media (max-width: 900px){

    .vanilla-project-tools{
        flex-direction: column;
        align-items: flex-start;
    }


}

@media (max-width: 850px) {
  body.vanilla-project .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    transition: transform .5s ease;
    transform: translateX(100%);
    z-index: 10;
    background-color: rgba(6, 6, 6, 0.931);
  }

  body.vanilla-project .header-anchor {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin: 0px;
  }

  body.vanilla-project .hamburguer-button,
  body.vanilla-project .closing-button,
  body.vanilla-project .github-header {
    display: flex;
  }

  body.vanilla-project .project-title {
    font-size: 2.66rem;
  }
}


@media (max-width: 788px){
    .vanilla-project-tools{
        flex-direction: column;
        align-items: flex-start;
    }
}



@media (max-width: 600px){
    .phone-displayed{
        display: block;
    }

    .phone-hidden{
        display: none;
    }

    .vanilla-h1-wrapper i{
        display: none;
    }
}

@media (max-width: 400px){

    .vanilla-title{
        font-size: 2.69rem;
    }

    .vanilla-title i{
        display: none;
    }

    .vanilla-h1-wrapper h1{
        font-size: 2.69rem;
    }
}
