*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    border: none;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --text-color: #fff;
    --blue-color: #00aaff;
    --hover-color: hsl(200, 100%, 65%);
}

html{
    font-size: 62.5%;
}

body{
    background-image: url(./black-wallpaper-image.jpg);
    background-size: cover;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: auto;
}

.main-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    z-index: 3;
    gap: 30px;
    opacity: 0;
    animation: to_right 1s ease forwards .5s;
}

/* #region   ------------------------------------------             HEADER         ---------------------------------------------------             */

.portfolio-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    color: var(--text-color);
    background: none;
    font-size: 2.4rem;
    width: 100%;
    padding: 50px;
}

header img{
    width: 100px;
    border-radius: 50%;
    animation: to_bottom 1s ease forwards;
}

.header-anchor{
    font-size: 2.5rem;
    border: none;
    background: none;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 6rem;
    cursor: pointer;
    animation: to_bottom 1s ease forwards;
}

.header-anchor:hover,
.header-anchor.active{
    color: var(--blue-color)

}

.sized-icon{
    font-size: 3rem;
    color: var(--text-color);
}

.menu-btn{
    display: none;
    border: none;
    background: none;
    animation: to_bottom 1s ease forwards;
}

.closing-btn{
    display: none;
    border: none;
    background: none;
    color: white;
    animation: to_bottom 1s ease forwards;
    font-size: 2.5rem;
    align-self: flex-start;
}

/* #endregion */

/* #region   ------------------------------------------             HOME         ---------------------------------------------------             */

.info-container{
    display: none;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 50%;
}

.icon-box{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.icon-box i{
    color: var(--blue-color);
    padding:  .7rem;
    font-size: 2.6rem;
    cursor: pointer;
    border: .2rem solid var(--blue-color);
    border-radius: 50%;
    transition: .2s;
}

.icon-box i:hover{
    color: var(--text-color);
    background-color: var(--blue-color);
    box-shadow: 0 0 1.5rem var(--blue-color);
}

.home-row{
    display: flex;
    align-items: center;
    gap: 30px;
}

.text-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-color);
    word-break: break-word;
}

.text-box *{
    opacity: 0;
}

.text-box h1{
    font-size: 4.6rem;
    font-weight: 300;
    animation: to_left 1s ease forwards;
}

.btn{
    color: var(--text-color);
    margin-top: 30px;
    padding: 5px 15px;
    border: .2rem solid var(--blue-color);
    background-color: var(--blue-color);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 20px;
    transition: .2s;
    animation: to_left 1s ease forwards .3s;
}

.btn:hover{
    box-shadow: 0 0 1.5rem var(--blue-color);
}

.image-container{
    display: flex;
    padding: 50px;
    width: 50%;
    justify-content: center;
}

.img{
    width: 500px;
    height: 500px;
    border: .5rem solid var(--text-color);
    border-radius: 50%;
    box-shadow: 1rem 1rem 5rem var(--blue-color);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: scale(0);
    animation: scale_img 1s ease forwards .5s;
}



/* #endregion */

/* #region   ------------------------------------------             PROJECTS         ---------------------------------------------------             */

.projects-box{
    width: 50%;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    z-index: 3;
    opacity: 0;
    animation: to_right 1s ease forwards .5s;
}

.projects-container{
    width: 100%;
    box-shadow: 1rem 1rem 5rem var(--blue-color);
    background: rgba(7, 6, 6, 0.833);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;    
}

.projects-container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 4.6rem;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.list-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
       
}

.list-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 20px;
}

.list-card h2{
    display: flex;
    align-items: center;
    font-size: 3rem;
    gap: 10px;
}

.list-card a{
    color: var(--blue-color);
    word-break: break-word;
    
}

.list-card a:hover{
    color: var(--hover-color);
}

.list-card p{
    font-size: 2rem;
}

.list-card em{
    color: hsl(94, 95%, 45%);
}

/* #endregion */

/* #region   ------------------------------------------             ABOUT         ---------------------------------------------------             */

.about-box{
    width: 50%;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    z-index: 3;
    opacity: 0;
    animation: to_right 1s ease forwards .5s;
}

.about-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 1rem 1rem 5rem var(--blue-color);
    background: rgba(7, 6, 6, 0.833);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
}


.about-container p{
    padding: 20px;
    border-radius: 20px;
    font-size: 2.15rem;
}

.text-container{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
}

.about-container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    font-size: 3rem;
    border-radius: 20px;
}

.green{
    color: hsl(94, 95%, 45%);
}

.yellow{
    color: hsl(61, 100%, 50%);
}

.orange{
    color: hsl(37, 95%, 45%);
}

.blue{
    color: var(--blue-color);
}

/* #endregion */

/* #region   ------------------------------------------             CONTACT         ---------------------------------------------------             */

.contact-box{
    display: none;
    width: 50%;
    padding: 50px;
    z-index: 3;
    opacity: 0;
    animation: to_right 1s ease forwards .5s;
    border-radius: 20px;
}

.contact-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    background: rgba(7, 6, 6, 0.833);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 1rem 1rem 5rem var(--blue-color);
    padding: 20px;
    
}

.contact-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    
}

.contact-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 3rem;
    padding: 20px;
    border-radius: 20px;
}

.contact-list p{
    font-size: 2.15rem;
}

.contact-list a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

.contact-list a:hover{
    color: hsl(204, 31%, 52%);
}



.contact-list i{
    font-size: 2.4rem;
    width: 24px;
    height: 24px;
}

.contact-list li{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}



/* #endregion */

/* #region   ------------------------------------------             ANIMATIONS         ---------------------------------------------------             */


@keyframes to_bottom{
    0%{
        opacity: 0;
        transform: translateY(-8rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes to_left{
    0%{
        opacity: 0;
        transform: translateX(8rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes to_right{
    0%{
        opacity: 0;
        transform: translateX(-4rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scale_img{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

/* #endregion */

/* #region   ------------------------------------------             MEDIA QUERIES         ---------------------------------------------------             */


@media(max-width: 1150px){
    
    .main-section{
        padding: 0px;
    }

}

@media(max-width: 900px){
    
    .main-section{
        flex-direction: column;
    }

    .projects-box{
        width: 100%;
    }

    .about-box{
        width: 100%;
    }

    .contact-box{
        width: 100%;
    }

    .info-container{
        width: 100%;
    }

    .image-container{
        width: 100%;
    }

    .img{
        width: 50%;
        height: 50%;
    }

}

@media(max-width: 740px){

    .nav-bar{
        position: fixed;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        z-index: 999;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 2rem;
        
    }

    .header-anchor{
        margin: 0px;
    }

    .nav-bar.open{
        transform: translateX(0);
    }

    .menu-btn{
        display: block;
    }

    .closing-btn{
        display: block;
    }
}


@media(max-width: 500px){

    .portfolio-header{
        padding: 20px;
    }

    .main-section{
        flex-direction: column;
    }

    .projects-box{
        width: 100%;
        padding: 3px;
    }

    .about-box{
        width: 100%;
        padding: 3px;
    }

    .contact-box{
        width: 100%;
        padding: 3px;
    }

    .info-container{
        width: 100%;
        padding: 3px;
    }

    .image-container{
        width: 100%;
    }

    .img{
        width: 50%;
        height: 50%;
    }

    .btn{
        align-self: center;
    }

    .home-row{
        flex-direction: column;
    }

    .icon-box{
        flex-direction: row;
    }
}



/* #endregion */

.display{
    display: flex;
}